:root {
  --main-color: #0084fd;
  --main-light-color: #b5dcff;
}
html {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--main-color);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container-nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.lg-menu {
  display: none;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.col {
  flex-basis: 100%;
  border-radius: 20px;
  padding: 1rem;
}

.center {
  text-align: center;
}

p {
  padding: 2rem 0;
}

section {
  padding: 3rem 0;
}

main img {
  display: block;
  width: 100%;
}

.main-color {
  color: var(--main-color);
}

.icon-sizing {
  font-size: 100px;
  text-align: center;
}

.gap {
  gap: 1rem;
}

.bg-violet {
  background-color: #9791e5;
}

.bg-light-main {
  background-color: var(--main-light-color);
}

.color-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.color-violet {
  color: #9791e5;
}

.col-1-4 img {
  object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.align-items {
  align-items: center;
}

.mbottom {
  margin-bottom: 1rem;
}

.hight {
  font-size: 5rem;
}

.ptopbot {
  padding: 2rem 0;
}
